<!--Navbar-->
<mdb-navbar
  SideClass="navbar navbar-expand-lg scrolling-navbar">

  <!-- Navbar brand -->

  <mdb-navbar-brand><a class="navbar-brand" routerLink="home">GetHired.Com</a></mdb-navbar-brand>

  <!-- Collapsible content -->

  <links>
    <!-- Links -->
    <ul class="navbar-nav ml-auto">

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="home">HOME</a>
      </li>

      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>ABOUT US</a>
      </li>

      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>JOBS</a>
      </li>

      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>CLIENTS</a>
      </li>

      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>EMPLOYEES</a>
      </li>

      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>CONTACT US</a>
      </li>

    </ul>

    <!-- Links -->
  </links>

  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
