.nav-link {
  font-weight: bold;
  letter-spacing: 1px;
  color: RGB (175, 173, 169) !important;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: black;
}

.nav-item {
  padding-left: 15px;
  
}

.navbar.scrolling-navbar.top-nav-collapse {
  background: rgba(165, 17, 17, 0.9);
}
