<div class="container-fluid home-section view">

  <div class="mask rgba-blue-slight"></div>

</div>

<div class="container home-content">

  <div class="row">

    <div class="col-12">

      <h1 class="h1-responsive">I'm looking for..</h1>

    </div>

    <div class="col-12 col-md-8 mt-4">

      <input type="text" class="form-control job" placeholder="Enter a Job Description" />

    </div>

    <div class="col-12 text-center text-md-left col-md-4 mt-4">

      <a class="btn search">

        <i class="fa fa-search" aria-hidden="true"></i> Search</a>

    </div>

  </div>

  <div class="row location mt-3">

    <div class="col-12 col-md-2 mt-md-0 mt-2">

      <mdb-checkbox [default]="true">Full Time</mdb-checkbox>

  </div>

    <div class="col-12 col-md-3 mt-md-0 mt-3">

      <mdb-checkbox [default]="true">Part Time / Casual / Freelance</mdb-checkbox>

    </div>

    <div class="col-12 col-md-3 mt-md-0 mt-3">

      <input type="text" class="form-control job" placeholder="Select Your Location" />

    </div>

    <div class="col-md-10 col-12 mt-5 text-center">

      <a class="btn search relative waves-light" (click)="basicModal.show()" mdbWavesEffect>Register</a>

    </div>

  </div>

</div>

<div class="container-fluid middle-section">

  <div class="row justify-content-center">

    <div class="col-12 text-center">

      <h2><i>We're leaders in</i></h2>

    </div>

    <div class="col-12 text-center">

      <h1>Creative Digital Recruitment</h1>

    </div>

    <span></span>

    <div class="col-12 text-center">

      <p>
        Based in Surry Hills, the creative hub of Sydney we are surrounded by
        creativity <br/>
        and that reflects on the type of jobs we recruit for.
      </p>

    </div>

    <div class="col-12 text-center">

      <button class="find-btn">FIND OUT MORE ABOUT US!</button>

    </div>

  </div>

</div>

<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">

  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">

    <div class="modal-content">

      <div class="modal-header bg-primary">

        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">

          <span aria-hidden="true">×</span>

        </button>

        <h4 class="modal-title w-100 text-white" id="myModalLabel">Register</h4>

      </div>

      <div class="modal-body">

        <form [formGroup]="registerForm" (submit)="submitregisterForm(registerForm.value)">

          <div class="container form-content">

            <div class="row">

              <div class="col-3 text-center form-group">

                <label>

                  <img class="img-fluid mb-3" src="../../../assets/Images/users.png" *ngIf="profilePhoto == null" />

                  <img class="img-fluid mb-3" src="{{ profilePhoto }}" *ngIf="profilePhoto != null" />

                  <input type="file" formControlName="profilePhoto" (change)="imagePreview($event)"
                    accept="image/*"/>Upload your Photo <span class="text-danger"> *</span>

                </label>

                <div *ngIf="!imageValid">

                  <small class="text-danger">Please Upload an Image with resolution of <br/>
                    310 x 233 px</small>

                </div>

              </div>

              <div class="col-9">
                <div class="row">
                  <div class="col-7 mb-0 form-group">
                    <input type="text" class="form-control" placeholder="First Name" formControlName="firstName"
                      [class.is-invalid]="
                        registerForm.get('firstName').invalid &&
                        registerForm.get('firstName').touched" />

                    <div *ngIf="
                        registerForm.get('firstName').invalid &&
                        registerForm.get('firstName').touched">

                      <small class="text-danger" *ngIf="registerForm.get('firstName').errors?.required">First Name
                        Required</small>

                      <small class="text-danger" *ngIf="registerForm.get('firstName').errors?.pattern">Enter Valid Name
                        and maximum 20 characters</small>
                        
                    </div>
                  </div>

                  <div class="col-5 mb-0 form-group">

                    <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName"
                      [class.is-invalid]="
                        registerForm.get('lastName').invalid &&
                        registerForm.get('lastName').touched" />

                    <div *ngIf="
                        registerForm.get('lastName').invalid &&
                        registerForm.get('lastName').touched">

                      <small class="text-danger" *ngIf="registerForm.get('lastName').errors?.required">Last Name
                        Required</small>

                    </div>
                  </div>
                </div>

                <div class="form-group">

                  <input type="email" class="form-control" placeholder="Email" formControlName="email"
                    [class.is-invalid]="
                      registerForm.get('email').invalid &&
                      registerForm.get('email').touched" />

                  <div *ngIf="
                      registerForm.get('email').invalid &&
                      registerForm.get('email').touched">

                    <small class="text-danger" *ngIf="registerForm.get('email').errors?.required">Email Required</small>
                    <small class="text-danger" *ngIf="registerForm.get('email').errors?.pattern">Please Enter ValidEmail</small>

                  </div>
                </div>

                <div class="form-group">
                  <input type="number" class="form-control" placeholder="(541) 754-3010" formControlName="contactNo"
                    [class.is-invalid]="
                      registerForm.get('contactNo').invalid &&
                      registerForm.get('contactNo').touched" />

                  <div *ngIf="
                      registerForm.get('contactNo').invalid &&
                      registerForm.get('contactNo').touched  ">

                    <small class="text-danger" *ngIf="registerForm.get('contactNo').errors?.required">Contact Number Required</small>

                    <small class="text-danger" *ngIf="registerForm.get('contactNo').errors?.pattern">Please Enter Valid Contact No.</small>

                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-12 col-lg-3 age">Age : {{ age }}</div>
                    <div class="col-12 col-lg-9">

                      <input type="range" min="20" max="60" value="20" class="slider" id="myRange"
                        (input)="rangedata($event.srcElement.value)" (change)="rangedata($event.srcElement.value)"
                        formControlName="age" [class.is-invalid]="
                          registerForm.get('age').invalid &&
                          registerForm.get('age').touched  " />

                      <div class="col-12 p-0">
                        <span>20</span> <span class="float-right">60</span>
                      </div>

                      <div *ngIf="
                          registerForm.get('age').invalid &&
                          registerForm.get('age').touched">

                        <small class="text-danger" *ngIf="registerForm.get('age').errors?.required">Please Select Age</small>

                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">

                  <select formControlName="state" [class.is-invalid]="
                      registerForm.get('state').invalid &&
                      registerForm.get('state').touched">
                    <option selected hidden value="">State</option>
                    <option value="Maharashtra">Maharashtra</option>
                    <option value="Karnataka">Karnataka</option>
                    <option value="Goa">Goa</option>
                    <option value="Kerela">Kerela</option>
                    <option value="Andaman & Nicobar">Andaman & Nicobar</option>
                    <option value="Lakshwadeep">Lakshwadeep</option>
                  </select>

                  <div *ngIf="
                      registerForm.get('state').invalid &&
                      registerForm.get('state').touched">

                    <small class="text-danger" *ngIf="registerForm.get('state').errors?.required">Please Select a State</small>
                  </div>
                </div>

                <div class="form-group">

                  <select formControlName="country" [class.is-invalid]="
                      registerForm.get('country').invalid &&
                      registerForm.get('country').touched">
                    <option selected hidden value="">Country</option>
                    <option value="India">India</option>
                    <option value="Russia">Russia</option>
                    <option value="Africa">Africa</option>
                    <option value="China">China</option>
                    <option value="Madagascar">Madagascar</option>
                    <option value="Sweden">Sweden</option>
                    <option value="Norway">Norway</option>
                    <option value="Italy">Italy</option>
                  </select>

                  <div *ngIf="
                      registerForm.get('country').invalid &&
                      registerForm.get('country').touched">

                    <small class="text-danger" *ngIf="registerForm.get('country').errors?.required">Please Select a Country</small>

                  </div>
                </div>

                <div class="form-group">

                  <select formControlName="address" [class.is-invalid]="
                      registerForm.get('address').invalid &&
                      registerForm.get('address').touched" (change)="displayAddress(registerForm.controls.address.value)">
                    <option selected hidden value="">Address</option>
                    <option value="1">Home</option>
                    <option value="2">Company</option>
                  </select>

                  <div *ngIf="
                      registerForm.get('address').invalid &&
                      registerForm.get('address').touched">

                    <small class="text-danger" *ngIf="registerForm.get('address').errors?.required">Please Select Address</small>

                  </div>
                </div>

                <div class="form-group">

                  <textarea *ngIf="!homeHide" class="form-control" placeholder="Home Address 1"
                    formControlName="address1" [class.is-invalid]="
                      registerForm.get('address1').invalid &&
                      registerForm.get('address1').touched">
                    </textarea>

                  <div *ngIf="
                      registerForm.get('address1').invalid &&
                      registerForm.get('address1').touched">

                    <small class="text-danger" *ngIf="registerForm.get('address1').errors?.required">Home Address Required</small>

                  </div>
                </div>

                <div class="form-group">

                  <textarea *ngIf="!homeHide" class="form-control" placeholder="Home Address 2"
                    formControlName="address2" [class.is-invalid]="
                      registerForm.get('address2').invalid &&
                      registerForm.get('address2').touched">
                    </textarea>

                  <div *ngIf="
                      registerForm.get('address2').invalid &&
                      registerForm.get('address2').touched">

                    <small class="text-danger" *ngIf="registerForm.get('address2').errors?.required">Home Address Required</small>

                  </div>
                </div>

                <div class="form-group">

                  <textarea *ngIf="!companyHide" class="form-control" placeholder="Company Address 1"
                    formControlName="companyAddress1" [class.is-invalid]="
                      registerForm.get('companyAddress1').invalid &&
                      registerForm.get('companyAddress1').touched">
                  </textarea>

                  <div *ngIf="
                      registerForm.get('companyAddress1').invalid &&
                      registerForm.get('companyAddress1').touched">

                    <small class="text-danger" *ngIf="registerForm.get('companyAddress1').errors?.required">
                      Company Address Required</small>

                  </div>
                </div>

                <div class="form-group">

                  <textarea *ngIf="!companyHide" class="form-control" placeholder="Company Address 2"
                    formControlName="companyAddress2" [class.is-invalid]="
                      registerForm.get('companyAddress2').invalid &&
                      registerForm.get('companyAddress2').touched">
                    </textarea>

                  <div *ngIf="
                      registerForm.get('companyAddress2').invalid &&
                      registerForm.get('companyAddress2').touched">

                    <small class="text-danger" *ngIf="
                        registerForm.get('companyAddress2').errors?.required">Company Address Required</small>

                  </div>
                </div>

                <div class="form-group">

                  <mat-form-field class="example-chip-list">

                    <mat-chip-list #chipList aria-label="Fruit selection">

                      <mat-chip *ngFor="let tags of myTag" [selectable]="selectable" [removable]="removable"                       (removed)="remove(tags)">
                        {{ tags.name }}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                      </mat-chip>

                      <input placeholder="Tags" class="tags" [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="add($event)" formControlName="tags" />

                    </mat-chip-list>

                  </mat-form-field>

                </div>

                <div class="form-group">
                  <mdb-checkbox [default]="true" formControlName="newsLetter">Subscribe to Newsletter</mdb-checkbox>
                </div>

                <div class="form-group text-right button-content">

                  <input class="btn cancel" type="reset" value="Cancel" (click)="basicModal.hide(); closeModal()" />
                  <input class="btn bg-primary" type="submit" value="Submit" />
                  
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>